* {
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}
img {
	height: auto;
	max-width: 100%;
}

.acf-map {
	width: 100%;
	height: 250px;
	border: #ccc solid 1px;
	margin: 20px 0;
	flex: 1;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

#map * {
	overflow:visible;
	height: 100%;
}
#map .gmnoprint .gm-style-mtc{
	height: auto;
}


.footer-container {
	display: flex;
	justify-content: space-around;
}

ul {
	list-style: none;
}

.field-loop {
	padding: 40px 0;
	border-bottom: 1px solid #ccc;
	display: flex;
}

.loop-image {
	overflow: auto;
	padding: 0 40px 0 50px;
}

.loop-content {
	flex: 2;
}

.locations {
	display: flex;
	margin: 20px 0;
	border-bottom: 2px solid grey;
}

.location-image {
	flex:1;
}

.location-content {
	flex: 1;
}

.loop-content .quote {
	font-size: 13px;
	font-weight: bold;
}

